.hidden {
  visibility: hidden;
}
h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.creator {
  width: 29rem;
  margin: 0 auto;
}
label {
  width: 3rem;
  display: inline-block;
  text-align: center;
}
.btn {
  margin: 0.5rem 0.5rem 0 10.7rem;
}
.wraper {
  display: flex;
  position: absolute;
  top: 12rem;
  /* top: 15vmin; */
  left: 50%;
  border: 0.5px transparent;
}

.select {
  height: 2rem;
  width: 2rem;
  /* height: 5vmin;
  width: 5vmin; */
  border-radius: 50%;
  visibility: hidden;
  background-color: blue;
}
section:hover .select {
  visibility: visible;
}
.uno div {
  background-color: red;
}

.grid {
  position: absolute;
  top: 14rem;
  /* top: 20vmin; */
  left: 50%;
  border: 0.5px solid;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  height: 2rem;
  width: 2rem;
  /* height: 5vmin;
  width: 5vmin; */
  box-shadow: inset 0 0 5px #000;
}
.one {
  background-color: red;
  border-radius: 50%;
}
.two {
  background-color: blue;
  border-radius: 50%;
}
.cero {
  background-color: grey;
  border-radius: 50%;
}
.grid .bottom {
  box-shadow: none;
}
